@model BashkiaRaporton.Models.Banore
@using BashkiaRaporton.Helper;
@inject ApplicationDbContext context
@using BashkiaRaporton.Data
<div class="row delete border mr-2 ml-2 mt-2" id="banore-@Model.Id">
    <div class="col-1  p-2">
        @Model.Emri
    </div>
    <div class="col-1  p-2">
        @Model.Mbiemri
    </div>
    <div class="col-3  p-2">
        @Model.Email
    </div>
    <div class="col-1  p-2">
        @Model.PhoneNumber
    </div>
    <div class="col-md-1 text-center p-2">
        <input onchange="UpdatePagesa('@Url.Action("UpdateDetyrime","Banore" , new { id=Model.Id})',this )"
               @Njesia.CheckedBanore(context, Model.Id) asp-for="@Model.Detyrime"
               type="checkbox"
               value="@Model.Detyrime" />
    </div>
    <div class="col-md-2 text-center p-2">
        <select value="@Njesia.CheckedRole(context,Model.Id)" class="form-control" onchange="ChangeRole('@Url.Action("AddUserRole","Banore")','@Model.Id',this)" asp-items="@ViewBag.Role"></select>
        @*<input onchange="ChangeRole('@Url.Action("Role","Banore"  , new { BanoreId=Model.Id})',this )"
               
               type="checkbox"
               value="1" />*@
    </div>
    <div class="col-1 p-2">
        <a onclick="Display('@Url.Action("Edit","Banore"  , new { banoreid=Model.Id})')" class="material-icons badge badge-primary text-white">create</a>
    </div>
    <div class="col-1 p-2">
        <a onclick="Delete('@Url.Action("Delete","Banore"  , new { banoreid=Model.Id})',this)" class="material-icons badge badge-danger text-white">delete</a>
    </div>
    <div class="col-1 p-2">
        <a onclick="Display('@Url.Action("Details","Banore" , new { banoreid=Model.Id})')" class="material-icons badge badge-warning text-white">description</a>
    </div>


</div>
<script>
    function UpdatePagesa(url, result) {
        $.ajax(url, {
            type: 'POST',
            data: { checked: result.checked },
            success: function (data, status, xhr) {
                location.reload();
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Dicka shkoi gabim. kontaktoni suportin!")
            }
        });
    }
    function ChangeRole(url, userid, result) {
        var selectedList = $(result).children("option:selected").val();
        $.ajax(url, {
            type: 'POST',
            data: { UserId: userid, RoleId: selectedList },
            success: function (data, status, xhr) {
                location.reload();
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Dicka shkoi gabim. kontaktoni suportin!")
            }
        });
    }
   
</script>