@model BashkiaRaporton.Models.Njoftime

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Njoftime</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banore.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesazhi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesazhi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDergimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDergimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shikushmeria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shikushmeria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NjoftimeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
